*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif, Arial, Helvetica, sans-serif;
}
body{
    background-color: #0C0C0C;
    color: #FFFFFF; 
    display: flex;
}

.container{
    width: 200px;
    background-color: #121622;
    height: 100vh;
    position: static;
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    z-index: 999;
    display:flex;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 20px;
    position: fixed;
    justify-content: space-between;
    flex-direction: column;
    transition: .5s;
}
.fixedsidebar{
    width: 200px;

    min-width: 200px;
    height: 100%;
    min-height: 100%;
}
.container:hover{
    background-color: #1f232e;
}
.container h2{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 10px 0;
    font-size:  24px ;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}
.buttonNavbar{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: .5s all;
}
.buttonNavbar svg{
    width: 30px;
    height: 20px;
}
.title{
    width: 50%;
}
.buttonNavbar svg:focus{
    width: 30px;
    height: 20px;
}
.settingsUsers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.buttonNavbar:hover{
    background-color: #2a2e3b;
}
.buttonNavbar:active{
    background-color: #1c48c0;
}
.buttonNavbar-active{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1c48c0;
    box-shadow: 0 0 50px rgba(28, 72, 192, 0.77);
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: .5s all;
    transform: scale(1.05);
}
.icon{
    width: 30px;
    height: 20px;
}
.main-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.VictoryContainer{
    display: flex;
    width: 100%;
    height: 100%;
}

