/* General Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #0C0C0C;
  color: #FFFFFF;
}

/* Sign Container */
.sign {
  width: 30%;
  margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;  
  margin-bottom: 100px;
}
.sign h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;

}
.input {
  width: 100%;
}
.input label {
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
}
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff83;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  width: 100%;
  transition: .5s all;
  background-color: transparent;
}
.input-container .icon {
  color: #ffffff9a;
  font-size: 18px;
  margin-right: 10px;
}
.input-container input {
  flex: 1;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  outline: none;
  width: 100%;
  padding: 5px;
}
.input-container:hover {
  outline: none;
  border: 1px solid #2858FF;  
  box-shadow: 0 0 60px rgba(40, 88, 255, 0.5);
  .input-container input {
    color: #FFFFFF;
    border: none;
  }
}

/* Password Visibility Icon */
#eye {
  color: #ffffff9a;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  right: 10px;
}

/* Remember Me Styles */
.remember {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.remember .check {
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff85;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}
#remember {
  display: none;
}
#remember:checked + .check {
  background-color: #2A5AFE;
}
#remember:checked + .check svg path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke: #fff;
  stroke-width: 3;
  animation: check 1s forwards;
}

.remember-text {
  font-size: 16px;
}

/* Button Styles */
.btn {
  width: 100%;
  max-width: 370px;
  height: 45px;
  color: white;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
}


.sign form p{
  font-size: 16px;
  color: #ffffff9a;
  text-align: left;
  width: 390px;
  border: none;

}
.sign form p a{
  font-weight:600;
  color: #2858FF ;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.separator {
  width: 300px; /* غيّرها لأي عرض تحبه */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  color: #ffffff9a;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ccc;
}
.signinWith{
  width:  350px ;
  height: 50px;
  overflow: hidden;
}
.signinWith button{
  width: 100%;
  cursor: pointer;
  height: 100%;
  padding: 20px;
  background-color: transparent;
  border: 1px solid #ffffff70;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius:20px;
  color: white;
  overflow: hidden;
  transition: 0.5s;
}
.signinWith button img{
  width: 25px;
  height: 25px;
}
.signinWith button:hover{
  background-color: rgba(20, 20, 20, 0.75);
}
.signIn-page{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notAllowed{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  color: white;
  background-color: #333;
}
.Allowed{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  background-color: #2858FF;
  color: white;
}
.btn:hover{
  background-color: transparent;
}
.wrong{
  font-size: 15px;
  color: #ff0000;
  margin-top: 5px;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  .sign{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sign form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sign form p{
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .sign{
    width: 80% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sign form p{
    width: 100%;
  }
 
  
}