@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Preahvihear&family=Roboto:wght@500&display=swap');

.Revunes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 25px;
  font-family: 'Roboto', sans-serif;
}

.Revunes-header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Revunes-chart-victory{
    display: grid;
    grid-template-columns:  100fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.VictoryContainer-Revunes{
    border: 1px solid #ffffff1a;
    border-radius: 25px;
    display: flex;
    width: 100%;
    height: 100%;
    padding:  20px ;
    justify-content: left;
    flex-direction: column;
}
.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.39);
  border-radius: 10px;
  padding: 20px;
}
.table thead,
.table tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* تخلي كل tr يتعاملو كعناصر رأسية */
.table tr {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ffffff1a;
}
/* تنسيق الأعمدة */
.table th,
.table td {
  flex: 1;
  text-align: center;
}
.table td{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.table td img{ 
    width: 100%;
    object-fit: contain; 
    height: 100%;
    scale: 1;
}
.img {
    display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1;
}
.text-center{
    width: 20%;
}
.text-state{
    width: 50%;
}
.Rvuenes-table{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
}
.Icon{
    justify-content: right !important;
    align-items: start;
}
.table-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.search{
     width: 91%;
    height: 35px;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 0 13px;
    border: none;
    font-size: 16px;
}
.searchContainer{
    width: 50%;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .5s all;
}
.searchContainer:HOVER{
  border: 1px solid rgb(40, 88, 255);  
    box-shadow: 0 0 60px rgba(40, 88, 255, 0.5);
}
.searchContainer svg{
    color: #ffffff9a;
}
.MuiFormControl-root{
    border-radius: 15px;
    background-color: #1d1b1b !important;
    border: 1px solid #ffffff1a !important;
    border-radius: 10px !important;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.1) !important;
    color: white;
}
.MuiFormLabel-root{
  color: white !important;
}
.MuiSvgIcon-root {
  color: white !important;
}
.MuiSelect-select{
  color: white !important;
}