
.demo-app{
    display: flex;
    padding: 20px;
    width: 100%;
    gap: 20px;
    height: 119vh;
}
.demo-app-main{
    width: 80%;
    height: 100%;
}
.demo-app-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 20px !important;
    border:  2px solid #ffffff1a;
    overflow: hidden;
     text-overflow: ellipsis !important;
    white-space: wrap !important;
    text-wrap:  wrap !important;
    border-radius: 10px;
    background-color: #1d1b1b8e;
}
.demo-app-sidebar-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.demo-app-sidebar-section h2{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;

}
.demo-app-main button{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1d1b1b !important;
    border: 2px solid #ffffff1a !important;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.fc-scrollgrid{
     cursor:  pointer !important;
    border:  2px solid #ffffff1a !important;
}
.fc-col-header-cell{
    color: #ffffff !important;
    border: 1px solid #ffffff1a !important;
}
.fc-theme-standard td{
    color: #ffffff !important;
       
    border: 1px solid #ffffff1a !important;
}
.fc-popover  {
    background-color: #1d1b1b !important;
    color: #ffffff !important;
    border: 1px solid #ffffff1a !important;
}
.fc-view-harness {
    background-color: #1d1b1b8e !important;
}
.demo-app-events{
    width: 100%;
    height: 100%;
    font-size: 15px;
    display: flex;
    border-top: 2px solid #ffffff1a;
    padding-top: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.demo-app-weekends-toggle{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px !important;
}