.orders{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.orders-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-container{
    display: flex;
    width: 100%;  
    border-radius: 10px;
    overflow: auto;
    justify-content: center;
    align-items: center;
}
.table {
    padding: 10px;
    width: 100%;
  min-width: 1000px;
  overflow: auto;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.39);
  border-radius: 10px;
  background: transparent;
}
.table thead,
.table tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table tr {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ffffff1a;
}
.table tr:last-child{
    border: none;
}
.table th,
.table td {
  flex: 1;
  text-align: center;
}
.table td img{ 
    width: 100%;
    object-fit: contain; 
    height: 100%;
    scale: 1;
}
.table td{
  display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    display: grid;
    place-items: center;
    width: 50px;
    overflow: hidden;
    height: 50px;
     border-radius: 50%;
}



.text-center{
    width: 20%;
}
.text-state{
    text-align: center;
}

.Icon{
    justify-content: right !important;
    align-items: start;
}
.table-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.search{
    width: 91%;
    height: 35px;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 0 10px;
    border: none;
    font-size: 16px;
}
.searchContainer{
    width: 50%;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .5s all;
}
.searchContainer:hover{
  border: 1px solid rgb(40, 88, 255);  
    box-shadow: 0 0 60px rgba(40, 88, 255, 0.5);
}
.searchContainer svg{
    color: #ffffff9a;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1;
}
.buttons button{
     width: 50px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1c48c0;
    box-shadow: 0 0 50px rgba(28, 72, 192, 0.158);
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: .5s all;
    transform: scale(1.05);
}
.buttons button:hover{
    scale: 1.1; 
    background-color: #3368fc;
    box-shadow: 0 0 50px rgba(28, 72, 192, 0.897);
}
.buttonTable{
     width: 130px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1c48c0;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: .5s all;
    transform: scale(1.05);
}
.buttonTable:hover{
    box-shadow: 0 0 50px rgba(28, 72, 192, 0.897);
}
.TopProductCard {
  position: relative; /* علشان نقدر نتحكم في مكان الزر داخل الكارد */
  background-color: #1a1a1a;
  padding: 16px;
  border-radius: 12px;
  color: #fff;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.Edit {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.Edit button {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c48c0;
  border-radius: 6px;
  color: #FFFFFF;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.Edit button:hover {
  transform: scale(1.01);
    box-shadow: 0 0 50px rgba(28, 72, 192, 0.5);
  background-color: #3366ff;
}
.Not-found{
    font-size: 20px;
    color: #ffffff9a;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.MuiFormLabel-root{
    color: rgba(255, 255, 255, 0.719) !important;
}
.MuiSelect-select ,.MuiInputBase-root{
    display: flex !important;
    gap: 100px !important;
    color: white !important;
}
.MuiSvgIcon-root {
    color: white !important;
}

@media (max-width: 500px) {
   .table-header{
    flex-direction: column;
    align-items: center;
    gap: 10px;
   }
   .table-header .searchContainer {
    width: 100%;
    justify-content: center;
   }
   .table-container{
    width: 100%;
    
    justify-content: start;
    align-items: start;
   }
}